body {
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: auto;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: rgb(114, 185, 126);
	padding: 20px;
	border-radius: 10px;
}

input, select {
	padding: 12px;
	outline: none;
	border: navy;
	font-size: 1.1rem;
	letter-spacing: 1px;
	border-radius: 20px;
}

.btn:hover {
	transform: scale(1.1);
}

.btn {
	width: 50%;
	margin: auto;
}